/*body,
html {
    height: 100%;
    color: white;
}*/

/* workaround modal-open padding issue */
body.modal-open {
    padding-right: 0 !important;
}

/*hr {
    background-color: white;
}*/

.bg-fatal {
    background-color: #3e444a;
    background-color: rgba(32, 38, 44, 255)
}

/*.footer-body {
    background-color: #3e444a;
    background-color: rgba(62, 68, 74, 255)
}

.footer-footer {
    background-color: rgba(72, 78, 84, 255)
}*/

@media (max-width: 992px) {
    .card {
        margin-bottom: 5px;
    }
}