<?xml version="1.0" encoding="utf-8"?>
<appSettings>

	<!-- email address/username of the account used to send emails to the subscribed users -->
	<add key="EmailSenderUsername" value="cls4.noreply@gmail.com" />

	<!-- password of the account used to send emails to the subscribed users -->
	<add key="EmailSenderPassword" value="7txU=?U.r:ptDX[a" />

	<!-- endpoint of the target smtp server used to send emails to users subscribed to alerts -->
	<add key="SmtpServerEndpoint" value="smtp.gmail.com" />

	<!-- port of the target smtp server used to send emails to users subscribed to alerts -->
	<add key="SmtpServerPort" value="587" />

	<!-- this value determines how often the windows service will check the database for messages which meet the criteria of any alerts set up by users -->
	<add key="PollTimeSeconds" value="30" />

</appSettings>
