
@model CLS.Core.Data.PublishingSystemOwner

<div class="row">
    <div class="col-lg-12">
        <h4>Username (Email) of User</h4>
        <input id="username" class="form-control" type="email">
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-12">
        <button data-publishingsystemname="@Model.PublishingSystem.Name" id="addPublishingSystemOwnerButton" type="button" class="btn btn-primary float-right"><i class="fas fa-save"></i> Add</button>
    </div>
</div>