
@model CLS.Core.Data.Subscription

<div class="row">
    <div class="col-lg-12">
        <h4>Alert Type</h4>
        @Html.DropDownList("AlertTypes", (List<SelectListItem>)ViewData["AlertTypes"], new { @class = "form-control" })
    </div>
</div>
<h4>Rules</h4>
<div id="nodeGroupContainer" class="container">
    @Html.Partial("_SubscriptionRow", Model)
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Expression</h4>
        <input class="form-control expressionTextBox" type="text" readonly>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-12">
        <div id="NoPublishingSystemWarning" class="alert alert-warning" role="alert">
            Warning: If you do not specify a Publishing System these rules will apply to all Publishing Systems.
        </div>
        <div id="MessagesTimeframeWarning" class="alert alert-warning d-none" role="alert">
            Warning: To use NumberOfMessages/TimeWindowMinutes you must include both in the rules for example the system will watch for 100 messages in 5 minutes.
        </div>
    </div>
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary saveAlertButton float-right"><i class="fas fa-save"></i> Save</button>
    </div>
</div>