
@model List<CLS.Core.Data.Subscription>

<div class="table-responsive">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Publishing System</th>
                <th>Environment</th>
                <th>Alert Trigger Expression</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id=@item.Id>
                    <td>@item.PublishingSystemName</td>
                    <td>@item.PublishingSystemEnvironmentTypeName</td>
                    <td>@item.AlertTriggerGroup.ExpressionString</td>
                    <td><button data-subscriptionId="@item.Id" type="button" class="btn btn-outline-danger deleteAlertButton"><i class="fas fa-trash"></i></button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<button id="newAlertButton" type="button" class="btn btn-secondary">+ New Alert</button>

<script>
    $(function() {
        $("table").DataTable();
    });
</script>