
@model CLS.Core.Data.Subscription
    
<div class="row mb-2">
    <div class="col variableNameColumn">
        @Html.DropDownList("VariableName", (List<SelectListItem>)ViewData["VariableNames"], new { @class = "form-control variableNameSelect node" })
    </div>
    <div class="col-2 comparisonOperatorColumn">
        @Html.DropDownList("ComparisonOperator", (List<SelectListItem>)ViewData["ComparisonOperators"], new { @class = "form-control node" })
    </div>
    <div class="col dynamicInputColumn">
        <input type="time" class="form-control dynamicInput node">
    </div>
    <div class="col-2 d-none logicalOperatorsColumn">
        @Html.DropDownList("LogicalOperator", (List<SelectListItem>)ViewData["LogicalOperators"], new { @class = "form-control node" })
    </div>
    <div class="col-1 addLayerColumn">
        <button type="button" class="btn btn-outline-success addLayerButton"><i class="fas fa-plus"></i></button>
    </div>
    <div class="col-1 d-none removeLayerColumn">
        <button type="button" class="btn btn-outline-danger removeLayerButton"><i class="fas fa-times"></i></button>
    </div>
</div>