
@{
    ViewBag.Title = "Publishing Systems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CLS.Core.Data.PublishingSystem>

<h2>Publishing Systems</h2>

<div class="row">
    <div id="PublishingSystemTableContainer" class="col-lg-12">
        @Html.Partial("_PublishingSystemsTable", Model)
    </div>
</div>