
@{
    var logLevel = ViewData["logLevel"].ToString();
    ViewBag.Title = logLevel + " logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<CLS.Core.Data.Log>

<h2>@logLevel logs</h2>

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("_LogMessageTable", Model)
    </div>
</div>