
@{
    var logLevel = ViewData["logLevel"].ToString();
    var publishingSystemName = ViewData["publishingSystemName"]?.ToString() ?? string.Empty;
    var environmentTypeName = ViewData["environmentTypeName"]?.ToString() ?? string.Empty;
    ViewBag.Title = logLevel + " Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageTitle = logLevel + " Logs";
    if (publishingSystemName != string.Empty)
    {
        pageTitle += " for " + publishingSystemName;
    }
    if (environmentTypeName != string.Empty)
    {
        pageTitle += " in " + environmentTypeName;
    }
}

@model List<CLS.Core.Data.Log>

<h2>@pageTitle</h2>

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("_LogMessageTable", Model)
    </div>
</div>