
@model CLS.Core.Data.Subscriber

@using (Html.BeginForm("Index", "Subscribers", FormMethod.Post, new { id = "CreateUpdateSubscriberForm", @class = "ajaxform" }))
{
    <h4>Name</h4>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

    <h4>Email</h4>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
}

<div class="row mt-3">
    <div class="col-lg-12">
        <button id="saveSubscriberButton" type="button" class="btn btn-primary float-right"><i class="fas fa-save"></i> Save</button>
    </div>
</div>