<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- enter connection string to target database below (target database should exist prior to running the database manager, 
		you should edit connection string to use your preferred security mode etc.) -->
		<add name="cls" connectionString="data source=(LocalDb)\CentralLoggingService;initial catalog=CentralLoggingService2;integrated security=True;" />
	</connectionStrings>
</configuration>