.truncateTooltip {
    font-weight: bold;
    cursor: pointer;
}

.modalLink {
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    -webkit-text-decoration: white solid underline;
    text-decoration: white solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}

.modal-content {
    background-color: #343a40 !important;
}

.bootbox-close-button {
    color: white !important;
    text-shadow: 0 1px 0 #000 !important;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 212px; 
}

.even {
    background-color: rgba(255,255,255,.05) !important;
}

.custom-select,
.form-control,
.dataTables_filter,
.dataTables_info,
.dataTables_length {
    color: white !important;
}

.paginate_button {
    margin-left: 0 !important;
    padding: 0 !important;
    margin-bottom: 2rem;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 1px !important;
}