<?xml version="1.0" encoding="utf-8"?>
<appSettings>

	<!--
	======================
	ALERT EMAILER SETTINGS
	======================
	-->

	<!-- email address/username of the account used to send emails to the subscribed users -->
	<add key="EmailSenderUsername" value="unset" />

	<!-- password of the account used to send emails to the subscribed users -->
	<add key="EmailSenderPassword" value="unset" />

	<!-- endpoint of the target smtp server used to send emails to users subscribed to alerts -->
	<add key="SmtpServerEndpoint" value="smtp.gmail.com" />

	<!-- port of the target smtp server used to send emails to users subscribed to alerts -->
	<add key="SmtpServerPort" value="587" />

	<!--
	========================
	WINDOWS SERVICE SETTINGS
	========================
	-->

	<!-- this value determines how often the windows service will check the database for messages which meet the criteria of any alerts set up by users -->
	<add key="PollTimeSeconds" value="30" />

	<!--
	======================
	SENDER MODULE SETTINGS
	======================
	-->

	<!-- this value determines whether the sender module sends log messages via a webservice or directly to a database -->
	<add key="UseWebservice" value="false" />

	<!-- the endpoint where the sender module will send log files -->
	<add key="WebserviceEndpoint" value="unset" />

</appSettings>
