<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

	<add name="DatabaseGeneratorConnection"
	     connectionString="data source=(LocalDb)\CentralLoggingService;initial catalog=CentralLoggingServiceV2;integrated security=True;" />

	<add name="CLSDbEntities"
		 connectionString="metadata=res://*/Data.CLSDbModel.csdl|res://*/Data.CLSDbModel.ssdl|res://*/Data.CLSDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\CentralLoggingService;initial catalog=CentralLoggingServiceV2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />

</connectionStrings>
